
  section#hero{
    max-width: 80rem;
    width: 100%;
    padding-block: 2.5rem;
    
    & h1{
        max-width: 19.5rem;
        font-size: 2rem;
    }

    & h1 div{
        display: inline-block;
        overflow: hidden;
        height: 2.5rem;
        width: min-content;
        vertical-align: bottom;
    }
    & h1 span:first-child ,
    & h1 span:nth-child(4)
    {
      color:var(--snitap-sky-mid) ;
    }
    & h1 span:nth-child(2){
        color: var(--snitap-joy-mid);
    }
    & h1 span:nth-child(3){
        color: var(--snitap-leaf-mid);
    }

    & h1 span{
        display: block;
        animation: slideUp 6s infinite ease;
        font-size: 2rem;
        
    }

    & .buttons{

        flex-direction: column-reverse;
        

           
        margin-top: 3rem;
        & a{
            transition: transform 350ms;
             &:hover{
                transform: scale(1.1);
            }
        }

        & .play{
        
            & span{
                display: flex;
                align-items: center;
                justify-items: center;
                padding: 1.5rem;
                border-radius: 5rem;
                background: #FFF;
                box-shadow: 0px 57px 16px 0px rgba(0, 0, 0, 0.00), 0px 36px 15px 0px rgba(0, 0, 0, 0.01), 0px 20px 12px 0px rgba(0, 0, 0, 0.05), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 2px 5px 0px rgba(0, 0, 0, 0.10);  
               }


          
        }
        & .buy{
           margin-top: 1.5rem;
           text-transform: uppercase;
           font-weight: 500;
           width: fit-content;
           padding: 1.5rem 3rem;
           border-radius:5rem;
           background: var(--snitap-sun);
           box-shadow: 0px 57px 16px 0px rgba(0, 0, 0, 0.00), 0px 36px 15px 0px rgba(0, 0, 0, 0.01), 0px 20px 12px 0px rgba(0, 0, 0, 0.05), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
           
          
           
        }
    }
  }

  @keyframes slideUp {
    0%,22%{
        transform: translateY(0);
    }
  /*diverida in*/
  23%{
    transform: translateY(calc(-2.5rem- 15px));
  }
  25%{
    transform:translateY(calc(-2.5rem + 10px));
  }
  27%{
    transform: translateY(calc(-2.5rem - 5px));
}
29%{
    transform: translateY(calc(-2.5rem + 5px));
}
/*divertida static*/
    33%,55%{
         transform: translateY(-2.5rem);
        }

        /*saudavel in*/
        56%{
            transform: translateY(calc(-5rem - 15px));
        }
        58%{
            transform: translateY(calc(-5rem + 10px));
        }
        60%{
            transform: translateY(calc(-5rem - 5px));
        }
        62%{
            transform: translateY(calc(-5rem + 5px));
        }

        /*Saudavel static*/
    66%,88%{
        transform: translateY(-5rem);
    }
     /*daical in*/
     89%{
        transform: translateY(calc(-7.5rem - 15px));
    }
    91%{
        transform: translateY(calc(-7.5rem + 10px));
    }
    93%{
        transform: translateY(calc(-7.5rem - 5px));
    }
    95%{
        transform: translateY(calc(-7.5rem + 5px));
    }
    100%{
        transform: translateY(-7.5rem);
    }
  }

@media(width >= 80em){
    section#hero{
        
        & img[src*="hero"]{
            display: none;
        }
        & h1{
            max-width: 43.5rem;
            font-size: 4rem;
        }

        & h1 span{
            
            font-size: 4rem;
            display: block;
             animation: slideUp 6s infinite ease;
            
        }
        & h1 div{
            
            display: inline-block;
            overflow: hidden;
            height: 5rem;
            width: min-content;
            vertical-align: bottom;
            
        }

        & .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
        
        }
    }

  
    @keyframes slideUp {
        0%,22%{
            transform: translateY(0);
        }
      /*diverida in*/
      23%{
        transform: translateY(calc(-5rem- 15px));
      }
      25%{
        transform:translateY(calc(-5rem + 10px));
      }
      27%{
        transform: translateY(calc(-5rem - 5px));
    }
    29%{
        transform: translateY(calc(-5rem + 5px));
    }
    /*divertida static*/
        33%,55%{
             transform: translateY(-5rem);
            }
    
            /*saudavel in*/
            56%{
                transform: translateY(calc(-10rem - 15px));
            }
            58%{
                transform: translateY(calc(-10rem + 10px));
            }
            60%{
                transform: translateY(calc(-10rem - 5px));
            }
            62%{
                transform: translateY(calc(-10rem + 5px));
            }
    
            /*Saudavel static*/
        66%,88%{
            transform: translateY(-10rem);
        }
         /*daical in*/
         89%{
            transform: translateY(calc(-15rem - 15px));
        }
        91%{
            transform: translateY(calc(-15rem + 10px));
        }
        93%{
            transform: translateY(calc(-15rem - 5px));
        }
        95%{
            transform: translateY(calc(-15rem + 5px));
        }
        100%{
            transform: translateY(-15rem);
        }
      }
}