.container{
    --max-width:375px;
    width: min(var(--max-width) , 100% - var(--px-md) * 2);
    margin-inline: auto;
}
.py-24{
    padding-block: 24px;
}
.py-md{
    padding-block: var(--py-md);
}

.px-md{
    padding-inline:var(--px-md) ;
}

.desktop-only{
    display: none;
}

.gap-0\.25{
    gap: 0.75rem;
}
.gap-2{
    gap: 2rem;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
    }
.items-center{
        align-items: center;
    }
.space-between{
    justify-content: space-between;
}